[Unit]
Description=Automatically connect to VPN after config download
Documentation=https://github.com/RobinKnipe/autovpn
After=network-online.service

[Service]
Type=simple
ExecStart=/usr/share/autovpn/autovpn

[Install]
WantedBy=default.target
